@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* ===== SET AS DEFAULT APP FONT ===== */

html,
body {
  font-family: "Lato", sans-serif;
}

:root {
  color-scheme: dark;
  font-family: "Lato", sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

button {
  cursor: pointer;
}

.maplibregl-popup {
  max-width: unset !important;
  z-index: 99;
}

.maplibregl-popup-content {
  padding: 0px !important;
  max-width: unset !important;
  border-radius: 0.375rem !important;
}

/* Bigger close button, pinned top-right */
.maplibregl-popup-close-button {
  font-size: 1.5rem; /* bigger "×" */
  line-height: 1;
  padding: 0.25rem 0.5rem; /* more click target */
  top: 0.35rem;
  right: 0.5rem;
  border-radius: 0.375rem;
}

/* Base: the input itself should not steal clicks */
.range-thumb {
  pointer-events: none;
}

/* WebKit browsers (Chrome, Edge, Safari) */
.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
}

/* Firefox */
.range-thumb::-moz-range-thumb {
  pointer-events: auto;
}

/* (Optional) if you also style the track: don’t re-enable pointer events there */
.range-thumb::-webkit-slider-runnable-track {
  pointer-events: none;
}
.range-thumb::-moz-range-track {
  pointer-events: none;
}
