@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Inter", "Sora", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

button {
  cursor: pointer;
}

.maplibregl-popup-content {
  padding: 0px !important;
}
